<div style="
width: 100%;
height: 100%;">
<div  style="height:100%">
    <div
      style="
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;    
      "
    >
      <h2>Get ready to pick some winner!</h2>
      <button mat-raised-button color="primary" routerLink="/cards">Start</button>
    </div>
    <div id="customize-button">
        <button mat-raised-button color="primary" routerLink="/customize">Customize Participants</button>
    </div>
  </div>
</div>
